body {
  background-color: #1d1d1d;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  padding: 20px;
}

.square {
  width: 100px;
  height: 100px;
  background-color: gold;
  animation: move 2s ease-in-out 2 alternate;
  animation-fill-mode: both;
  animation-composition: add;
}

@keyframes move {
  0% {
    transform: translateX(0);
  }

  50% {
    transform: translateX(200px);
  }

  50% {
    background-color: blue;
  }

  100% {
    transform: translateX(calc(100vw - 140px));
  }
}