body {
  background-color: #1d1d1d;
  color: #fff;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  padding: 0;
  margin: 0;
  timeline-scope: --progress-view;
}

.container {
  height: 100vh;
  overflow: auto;
  background-color: #100e1e;
  animation: changeBg linear both;
  animation-timeline: --progress-view;
}

.content {
  padding: 30px;
  max-width: 700px;
  margin: 0 auto;
}

.progress {
  width: 100%;
  height: 100px;
  background-color: rgb(57, 41, 67);
  position: relative;
  margin: 20px 0;
}
.progress-inner {
  position: absolute;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgb(209, 90, 213);
  view-timeline: --progress-view;
  animation: animateWidth linear both;
  animation-timeline: --progress-view;
  animation-range: 100px calc(100% - 100px);
}

@keyframes animateWidth {
  0% {
    width: 0%;
  }
  100% {
    width: 100%;
  }
}

@keyframes changeBg {
  to {
    background-color: royalblue;
  }
}