.services {
  padding: 20px 0px 60px;
  position: relative;
  background-image: linear-gradient(transparent, black);
}

.services .video {
  position: sticky;
  top: 0;
  width: 100%;
  height: 100vh;
  mask-image: linear-gradient(transparent, black, transparent);
}
.services .video video {
  width: 100%;
  height: 100%;
  object-fit: cover;
  filter: hue-rotate(105deg) brightness(0.3);
}

.services .content {
  margin-top: -100vh;
}
.services h2 {
  text-align: center;
  font-size: 3rem;
  margin: 0 0 4rem;
  animation: titleAppear both;
  animation-timeline: view();
}
.services .cards {
  --card-height: 50vh;
  --card-gap: 20px;
  --num: 4;
  view-timeline: --cards-view;
}

.services .cards .cards-grid {
  max-width: 1000px;
  padding: 0 30px;
  margin: 0 auto;
  padding-bottom: calc(var(--card-gap) * var(--num));
}

.services .cards .cards-grid .card {
  height: var(--card-height);
  position: sticky;
  top: var(--header-height);
  padding-top: calc(var(--card-gap) * var(--i));
}
.services .cards .cards-grid .card:nth-child(1) {
  --i: 1;
  --r: 1deg;
  --b: var(--pink);
}
.services .cards .cards-grid .card:nth-child(2) {
  --i: 2;
  --r: -1deg;
  --b: #48fbfb;
}
.services .cards .cards-grid .card:nth-child(3) {
  --i: 3;
  --r: 1deg;
  --b: #e7e64d;
}
.services .cards .cards-grid .card:nth-child(4) {
  --i: 4;
  --r: 0deg;
}
.services .cards .cards-grid .card-inner {
  background-color: rgb(11 9 14 / 85%);
  backdrop-filter: blur(6px);
  border: 2px solid var(--green);
  height: var(--card-height);
  border-radius: 5px;
  display: flex;
  align-items: center;
  padding: 30px;
  transform-origin: center top;
  view-timeline: --card-view;
  animation: serviceCard both;
  animation-timeline: --cards-view;
  animation-range: exit-crossing calc((var(--i) - 1) / var(--num) * 100%) exit-crossing calc((var(--i)) / var(--num) * 100%);
}

.services .cards .cards-grid .card-inner .left {
  flex: 1;
  width: 50%;
}
.services .cards .cards-grid .card-inner .right {
  flex: 1;
}
.services .cards .cards-grid .card-inner img {
  width: 100%;
  object-fit: contain;
  animation: cardImage both;
  animation-timeline: --card-view;
}
.services .cards .cards-grid .card-inner h3 {
  font-size: 2.4rem;
  line-height: 1.4;
  margin: 0 0 1rem;
}
.services .cards .cards-grid .card-inner p {
  font-size: 1.1rem;
  line-height: 1.6;
  opacity: 0.8;
  margin-bottom: 40px;
}
.services .cards .cards-grid .card-inner button {
  background-color: rgba(219, 76, 235, 0.146);
  border: 2px solid var(--pink);
  font-size: 0.9rem;
  padding: 10px 15px;
  color: #fff;
  cursor: pointer;
  border-radius: 5px;
  transition: 0.3s;
  animation: buttonGlow 2s infinite both;
}
.services .cards .cards-grid .card-inner button:hover {
  background-color: rgba(219, 76, 235, 0.365);
}

@keyframes buttonGlow {
  0% {
    box-shadow: 0 0 2px var(--pink);
  }
  50% {
    box-shadow: 0 0 10px var(--pink);
  }
  100% {
    box-shadow: 0 0 2px var(--pink);
  }
}

@keyframes cardImage {
  0% {
    transform: scale(0);
  }
  10% {
    transform: scale(1.3);
  }
  100% {
    transform: scale(0.9);
  }
}

@keyframes serviceCard {
  to {
    border-color: var(--b);
    filter: blur(calc((var(--num) - var(--i)) * 1px));
    transform: rotate(var(--r)) scale(calc(1 - (0.05 * (var(--num) - var(--i)))));
  }
}