body {
  background-color: #1d1d1d;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  padding: 20px;
}

.square {
  width: 100px;
  height: 100px;
  background-color: gold;
  /* animation: 
    move 2s ease-in-out infinite alternate, 
    bounce 0.3s linear infinite alternate; */
}

@keyframes move {
  0% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(calc(100vw - 140px));
  }
}

@keyframes bounce {
  0% {
    /* transform: translateY(0); */
    margin-top: 0;
  }

  100% {
    /* transform: translateY(100px); */
    margin-top: 100px;
  }
}